@import 'reset.scss';


/************************
* Constants
************************/

// Colors
$green: #1BA39C;
$white: #fff;
$black: #000;

$modal-header-background: #f1f1f1;
$modal-header-text: rgba(0,0,0,.67);
$modal-active: rgb(83, 163, 152);
$modal-passive: rgba(0, 0, 0, 0.670588);
$modal-overlay: rgba(33, 33, 33, 0.48);

// Sizes
$trigger-size: 30px;

$modal-header-font-size: 24px;
$modal-standard-font-size: 16px;
$modal-button-font-size: 14px;
$modal-border-radius: 3px;
$modal-padding: 55px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato);


/************************
* Global Sytlings
************************/
body {
	font-family: 'Lato';
}

/************************
* Classes
************************/

.demo-container {
	margin: 0 auto;	
	width: 1250px;
	position: relative;
}

.donii-dashboard {
	display: block;
	width: 100%;
}

.trigger-donations {
	top: 375px;
	left: 490px;
}

.trigger-total-value {
	top: 375px;
	left: 695px;
}

.trigger-demographics {
	top: 670px;
	left: 585px;
}

.walkthru-trigger {
	position: absolute;
	text-transform: lowercase;
	text-decoration: underline;
	font-size: 16px;
	color: $modal-passive;
	cursor: pointer;

	&:hover {
		color: $modal-active;
	}
}

.modal-overlay {
	background-color: $modal-overlay;
	//opacity: 0.48;
	position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;
}

.modal-container {
	background-color: white;
	width: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 4px 4px rgba(0,0,0,.12);
}

.walkthru-header {
	background-color: $modal-header-background;
	padding-left: $modal-padding;
}

.walkthru-title {
	font-size: $modal-header-font-size;
	padding-top: 20px;
	padding-bottom: 20px;
}

.walkthru-content {
	padding: $modal-padding;
}

.walkthru-image {
	display: block;
	margin: 0 auto;
}

.walkthru-description {
	padding: 20px 0;
}

.walkthru-nav-buttons {
	display: flex;
	justify-content: space-between;
}

.walkthru-button {
	font-size: $modal-button-font-size;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color: $white;
	min-height: 36px;
	min-width: 88px;
	line-height: 36px;
	text-align: center;
	border-radius: $modal-border-radius;
	box-sizing: border-box;
	border: 0;
	padding: 0;
	marign: 6px 8px;
	text-transform: uppercase;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.walkthru-button-enabled {
	cursor: pointer;
	background-color: $modal-active;
}

.walkthru-button-disabled {
	background-color: $modal-header-background;
}

// Disable the outline that appears on the ReactMobile__Content div
// whenever it is the focus of the DOM
.ReactModal__Content:focus {
	outline: none;
}