@import 'reset.scss';


/************************
* Constants
************************/

// Colors
$green: #1BA39C;

$modal-header-background: #f1f1f1;
$modal-header-text: rgba(0,0,0,.67);
$modal-active: rgb(83, 163, 152);
$modal-passive: rgba(0, 0, 0, 0.670588);
$modal-overlay: rgba(0,0,0,0);

// Sizes
$trigger-size: 30px;

$modal-header-font-size: 24px;
$modal-standard-font-size: 16px;
$modal-border-radius: 3px;
$modal-padding: 55px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato);


/************************
* Global Sytlings
************************/
body {
	font-family: 'Lato';
}

/************************
* Classes
************************/

.demo-container {
	margin: 0 auto;	
	width: 1250px;
	position: relative;
}

.donii-dashboard {
	display: block;
	width: 100%;
}

.trigger {
	width: $trigger-size;
	height: $trigger-size;
	background-color: $green;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
}

.trigger-donations {
	top: 250px;
	left: 495px;
}

.trigger-total-value {
	top: 250px;
	left: 695px;
}

.trigger-demographics {
	top: 450px;
	left: 590px;
}

.modal-overlay {
	background-color: $modal-overlay;
	position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	bottom: 0;

}

.modal-container {
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	border: 1px solid black;
}

.walkthru-header {
	background-color: $modal-header-background;
	padding-left: $modal-padding;
}

.walkthru-title {
	font-size: $modal-header-font-size;
	padding-top: 20px;
	padding-bottom: 20px;
}

.walkthru-content {
	padding: $modal-padding;
}

.walkthru-description {
	padding: 20px 0;
}

.walkthru-nav-buttons {
	display: flex;
	justify-content: space-between;
}